@import './mixins.scss';

.main_info{
    margin-top:20px;
    .header_info{
        height:50px;
        width:100%;
        padding:10px;
        margin-bottom:20px;
        border-bottom:solid 1px #ccc;
    }
    .segment{
        width:75%;
        @include flex(flex, row, nowrap, flex-start);
        margin-bottom:20px;
        margin-top:20px;
        .story_img{
            height:250px;
            width:40%;
        }
        .story_wrap{
            min-height:100%;
            width:60%;
            padding:15px;
            h3{
                @include font('Sawarabi Mincho', 1.4em, bold);
            }
            h4{
                @include font('Sawarabi Mincho', 1em, normal);
            }
            .date_posted{
                @include font('Sawarabi Mincho', 0.8em, italic);
                display:block;
                height:25px;
                @include flex(flex, row, nowrap, flex-start);
                margin-top:10px;
                p{
                    line-height:25px;
                }
                .profile_icon{
                    height:25px;
                    width:25px;
                    margin-right:5px;
                }
            }
        }
    }
}