@mixin flex($display, $dir, $wrap, $justify){
    display: $display;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin font($family, $size, $weight){
    font-family:$family, monospace, sans-serif;
    font-size:$size;
    font-weight:$weight;
}